
* {
    margin: 0; /* esto es para que el header y el body puedan ocupar todo el espacio */
}

body {
    background: #D7E7FF;
}

h1 {
    padding-left: 1%;
    padding-top: 1%;

}
h2 {
    padding-left: 1%;
    padding-top: 1em;
    font-style: italic;
}

h3 {
    padding-left: 1%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: underline;
}

h4, time {
    padding-left: 1%;
}

figure {
    padding: 2em 0 2em 0;
    width: 100%;
    background-color: aliceblue;
    align-items: center;
    text-align: center;
}

#carrusel {
    width: 30%;
}

article {
    margin-bottom: 2em;
}

table, th, td {
    background-color: white;
    border: 2px solid #000;
    border-collapse: collapse;
    padding: 1em 1em 1em 1em;
}

table {
    margin: auto;
}

th {
    text-align: left;
}

#simular {
    padding-bottom: 2em;
}

@media (max-width:480px) {
    #carrusel {
        width: 80%;
    }
}