:root {
    --colorHeader: #5C84FE;
    --colorFondo: #D7E7FF;
    --colorBordeBoton: #A461EF;
    --colorBoton: #fcf5ff;
    --colorBotonHover: #F1D1FF;
    --colorNav: #9FCFFF;
    --colorArticulo: #FFF691;
    --sombra: #00000050;
    --colorBordesArticulos: lightgrey;
    --colorFuente: black;   
}


header {
    text-align: center;
    background-color: var(--colorHeader);
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 2em 0 2em 0;
    > nav > ul {
        /* display: flex; */
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        align-items: center; /* ESTO HA ALINEADO DE FORMA VERTICAL */
        list-style-type: none;
        padding-right: 1em;

        > li {
            display: flex;
            float:left;
            padding: 0 1em 0 1em; /* top right bottom left */
        
            > a {
                text-decoration: none;
                color: var(--colorFuente);
            }
        }
    }

}

#menu {
    border: 3px solid var(--colorBordeBoton);
    box-sizing: border-box;
    padding: 20px 30px;
    display: block;
    background: var(--colorBoton);
    border-radius: 4px;
    cursor: pointer;
    > p {
        margin: 0;
    }

    grid-column: 1;
}

#menu:hover {
    background: var(--colorBotonHover);
    border: 3px solid var(--colorBoton);
}

#acceder {
    border: 3px solid var(--colorBordeBoton);
    box-sizing: border-box;
    padding: 20px 30px;
    display: block;
    background: var(--colorBoton);
    border-radius: 4px;
    cursor: pointer;
    > a {
        display: block;
    }

    grid-column: 9;       
}

#acceder:hover {
    background: var(--colorBotonHover);
    border: 3px solid var(--colorBoton);
}



#index {
    font-size: xx-large;
    grid-column: 5;
}

footer {
    background: var(--colorHeader);
    text-align: center;
    width: 100%;
    padding: 1em 0 1em 0; 
    font-weight: 600;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 3em;
    color: var(--colorFuente);
}