* {
    margin: 0; /* esto es para que el header y el body puedan ocupar todo el espacio */
}

body {
    background: var(--colorFondo);
}

#sectio_barraNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--colorNav);
    padding: 20px 0;
}

#ciudad_busqueda {
    width: 40vw; /* esto es para que se haga largo el buscador, que no se porque no va con px o con el %*/
    min-width: 200px;
    max-width: 400px;
    padding: 10px;
    border-radius: 4px;
}

#boton_buscar {
    padding: 10px 20px;
    border: 3px solid var(--colorBordeBoton);
    border-radius: 4px;
    background: var(--colorBoton);
    cursor: pointer;
}

#boton_buscar:hover {
    background: var(--colorBotonHover);
    border: 3px solid var(--colorBoton);
}

a:hover {
    opacity: 0.7;
}

.ul_articulos {
    list-style-type: none; /* para quitar los puntitos de las listas */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
    padding-left: 0; /* para que no se quede tirado a la derecha los articles */
}

article {
    width: 90%;
    height: auto;
    border: 1px solid var(--colorBordesArticulos);
    background: var(--colorArticulo);
    box-shadow: 1px 1px 10px var(--sombra);
    border-radius: 10px;
    margin: 30px;
}

.imagen_articulo { 
    width: 100%;
    height: 200px;
    object-fit: cover;        /* para que las fotos no se vean deformes */        
    border-radius: 10px 10px 0px 0px;
}

.a_tituloPublicacion {
    display: block;
    text-decoration: none;
    color: var(--colorFuente);
    font-size: 1em;
    font-weight: 700;
    margin: 10px;
}

.p_fechaA {
    font-size: 0.8em;
    font-weight: 600;
    padding: 5px;
    margin: 10px;
}

.p_descripcionA {
    font-size: 1.2em;
    padding: 5px;
    margin: 10px;
}