* {
    margin: 0;
}

body {
    background: #D7E7FF;
}

h1 {
    margin: 1%;
}

form {
    width: fit-content;
    text-align: left;
    margin: auto; /* sin esto se queda a la izquierda, porque he puesto margin 0 */
    border-collapse: collapse;
}

label, input {
    margin: 1% 1em 1% 1em;
}

label {
    display: block;
}


#confirmar {
    margin: 1em 0 1em 4em;
}